/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --goldColor: rgb(233, 217, 144);
  --backColor: #1E1D19;
  --fontColor: #FFFFFF;
  --fontFamily: 'Oxanium';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fontFamily);
  background-color: var(--backColor);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
}
