POSTGRES_USER=postgres
POSTGRES_PASSWORD=cherry
POSTGRES_DB=PONG
DATABASE_HOST=postgres
SECRET_KEY=secretFORTYTWO_CLIENT_ID=ID
FORTYTWO_CLIENT_SECRET=ECRET
FORTYTWO_CLIENT_ID=101645
FORTYTWO_CLIENT_SECRET=
FORTYTWO_CLIENT_ID=101645
